.mainBar .list .navButton {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

.mainBar .list .navButton a{
  color: inherit;
}

.mainBar nav .navButton:hover{
  color: lightgrey;
}

.mainBar {
  width: 100%;
}

@media (max-width: 960px){

  .mainBar {
    margin-bottom: 30px;
  }

  .mainBar .logo {
    width: 100%;
    height: 40px;
    margin: 10px 0px 10px 0px;
  }

  .mainBar nav ul {
    width: 100%;
    background-color: #24ABA6;
  }

  .mainBar nav ul li {
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }

  .mainBar .list .navButton,
  .mainBar .list a{
    color: white;
  }

}


@media (min-width: 550px) and (max-width: 960px) {   /*  <----------ENTRE 550 Y 1280 -------------------------------> */

}

@media (min-width: 960px) {

  .mainBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px lightgrey;
    box-shadow: 6px 0px 5px #888888;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .mainBar .mainBarNav{
    height: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainBar .logo {
    float: left;
    height: 40px;
    width: auto;
    margin: 10px 0px 10px 0px;
  }

  .mainBar nav ul {
    height: 100%;
    float: right;
  }

  .mainBar nav ul li {
    box-sizing: border-box;
    line-height: 60px;
    height: 100%;
    font-size: 16px;
    display: inline-block;

  }
  .mainBar nav ul li h3{
    padding-left: 10px;
    padding-right:10px;
  }

  .mainBar .list .navButton {
    color: #24ABA6;
    cursor: pointer;
    cursor: hand;
  }
}
