



/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */


.loggedBar {
  width: 100%;
}
/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */
.loggedBar.neutralColor {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: solid 1px lightgrey;
}

.loggedBar.parentColor {
  background-color: rgba(36, 171, 166, 0.95);
  border-bottom: solid 1px rgb(36, 171, 166);
}

.loggedBar.schoolColor {
  background-color: rgba(255, 217, 63, 0.95);
  border-bottom: solid 1px rgb(255, 217, 63);
}

.loggedBar.teacherColor {
  background-color: rgba(253, 52, 56, 0.95);
  border-bottom: solid 1px rgb(253, 52, 56);
}
/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */
.loggedBar h6.userName.neutralColor {
  color: lightgrey;
}

.loggedBar li.dropdown:hover h6.userName.neutralColor{
  color: white;
}

.loggedBar .dropdown h6.userName {
  text-transform: capitalize;
  padding-right: 20px;
  font-weight: bold;
}

.loggedBar .list .navButton {
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}
/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */
.loggedBar nav .list .navButton a{
  color: inherit;
}

.loggedBar nav .navButton:hover{
  color: lightgrey;
}

.loggedBar nav .navButton:hover img{
  filter: brightness(150%);
}

.loggedBar nav .logo.logoNeutro {
  filter: opacity(30%);
}

.loggedBar nav .logo.logoNeutro:hover {
  filter: opacity(80%);
}

.loggedBar nav .dropdown {
  cursor: pointer;
  cursor: hand;
}
/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */
.loggedBar nav .userPicture {
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: white;
  width: 48px;
  height: 48px;
}

.loggedBar nav .roundPicture {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.loggedBar nav .dropdown-content li h5 {
  white-space: nowrap;
  font-size: 12px;
  line-height: 20px; /* SHOULD BE THE SAME *1 */
}

.loggedBar nav .dropdown-content li img {
  height: 20px;     /* SHOULD BE THE SAME *1 */
}

.loggedBar nav .dropdown-content {
    display: none;
}


@media (max-width: 1280px){

  .loggedBar {
    margin-bottom: 30px;
  }

  .loggedBar nav .logo.logoHome {
    display: none;
  }
/* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! *//* DO NOT USE THIS! */
  .loggedBar nav .list.homePage {
    width: 100%;
    background-color: #24ABA6;
  }

  .loggedBar nav .list.parentPage{
    display: inline-block;
    width: 20%;
  }

  .loggedBar nav .list li:not(.dropdown) {
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
  }

  .loggedBar nav .list .navButton,
  .loggedBar nav .list a{
    color: white;
  }

  .loggedBar nav .dropdown-content li h5 {
    display: inline-block;
  }

  .loggedBar nav .dropdown-content li img {
    margin-right: 35px;
    display: inline-block;
    float: right;
  }

  .loggedBar nav .dropdown .userContainer {
    overflow: hidden;
    float: right;
    padding-right: 20px;
  }

  .loggedBar nav .dropdown{
    overflow: hidden;
  }

  .loggedBar nav .dropdown-content{
    clear: both;
  }

  .loggedBar nav .dropdown .dropdown-content li:first-child{
    border-top: 1px solid white;
  }

  .loggedBar nav .dropdown h6.userName{
    color: white;
    line-height: 60px;
    float: left;
    display: block;
  }

  .loggedBar nav .dropdown .userPicture {
    float: left;
    display: block;
  }
}
@media (min-width: 550px) and (max-width: 800px){


}

@media (min-width: 800px) and (max-width: 1280px) {   /*  <----------ENTRE 550 Y 1280 -------------------------------> */


}

@media (min-width: 1280px) {

  .loggedBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    clear: both;
    box-shadow: 6px 0px 5px #888888;
  }

  .loggedBar nav{
    height: 60px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .loggedBar nav .logo {
    float: left;
    height: 40px;
    width: auto;
    margin: 10px 0px 10px 0px;
  }

  .loggedBar .dropdown h6.userName.homeColor{
    color: #24ABA6;
  }

  .loggedBar li.dropdown:hover h6.userName.homeColor{
    color: darkgrey;
  }

  /*
  .loggedBar nav .childrenPicture {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
  }
  */
  .loggedBar nav .list:not(.dropdown-content) {
    height: 100%;
    float: right;
  }

  .loggedBar nav .list li {
    padding-left: 10px;
    padding-right:10px;
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;

  }

  .loggedBar nav .list li.buttonIndex{
    line-height: 60px;
    display: inline-block;
  }

  .loggedBar nav .list li:not(.dropdownLink) {

  }

  .loggedBar .list .navButton {
    color: #24ABA6;
  }

  .loggedBar .list .navButton.dropdownLink {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .loggedBar .dropdown h6.userName {
    line-height: 50px;
    float: left;
    max-width: 90px;
    display: block;
  }

  .loggedBar nav .userPicture {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }


  .dropdown-content {
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      color: black;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 4px; /* SHOULD BE THE SAME *2 */
      left: -4px;
      overflow: hidden;
  }

  .dropdown-content li {
    display: block;
    width: 150px;
    overflow: hidden;
    position: relative;
  }

  .dropdown-content li h5 {
    float: left;
  }

  .dropdown-content li img {
    margin-right: 10px;
    float: left;
  }

  .dropdown .dropImg {
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
