.listRoomsContainerMain {
  width: 550px;
  padding-top: 70px;
  color: white;
  margin: auto;
  background-color: rgba(28, 131, 142, 0.86);
}
.listRoomsContainerMain h3 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.listRoomsContainerMain .dataRoom {
  width: 100px;
  font-size: 20px;
  margin: 25px;
  display: inline-block;
}
.listRoomsContainerMain .dataRoom a {
  color: white;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  padding: 5px;
}
.listRoomsContainerMain .dataRoom a:hover {
  cursor: pointer;
  filter: brightness(80%);
}
.listRoomsContainerMain .dataRoom .roomImgContainer {
  width: 100px;
  height: 100px;
  background-color: ghostwhite;
  border-radius: 50%;
  margin-bottom: 20px;
  margin: auto;
}
.listRoomsContainerMain .dataRoom .roomImgContainer img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

@media (max-width: 1280px) {
    /*  <----------------------------------- HASTA DE 1280 -------------------------------> */
}

@media (max-width: 550px) {
    /*  <----------HASTA 550  -------------------------------> */
    .listRoomsContainerMain {
      width: 100%;
    }
    .listRoomsContainerMain .dataRoom {
      margin: 15px;
      width: 100px;
    }
    .listRoomsContainerMain .dataRoom .roomImgContainer {
      width: 50px;
      height: 50px;
    }
    .listRoomsContainerMain .dataRoom .roomImgContainer img {
      width: 50px;
      height: 50px;
    }

}

@media (max-width: 350px) {
  .listRoomsContainerMain .listImgContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .listRoomsContainerMain .dataRoom {
    margin: 5px;
    width: 75px;
  }
  .listRoomsContainerMain .dataRoom a {
    font-size: 16px;
  }
  .listRoomsContainerMain .dataRoom .roomImgContainer {
    width: 25px;
    height: 25px;
  }
  .listRoomsContainerMain .dataRoom .roomImgContainer img {
    width: 25px;
    height: 25px;
  }
}

@media (min-width: 550px) and (max-width: 1280px) {
    /*  <----------ENTRE 550 Y 1280 -------------------------------> */
}

@media (min-width: 550px) {
    /*  <----------------------------------- MAS DE 1280 -------------------------------> */
    .listRoomsContainerMain .listImgContainer {
      padding-left: 8%;
      padding-right: 8%
    }
}
