.loggedBar {
  width: 100%;
  height: 70px; /* SAME 70 */
}

.loggedBar nav .flexList{
  height: 70px; /* SAME 70 */
}

.loggedBar.neutralColor {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: solid 1px lightgrey;
}

.loggedBar.parentColor {
  background-color: rgba(9, 111, 125, 0.95);
}

.loggedBar.schoolColor {
  background-color: rgba(44, 22, 97, 0.95);
}

.loggedBar.teacherColor {
  background-color: rgba(226, 18, 49, 0.95);
}


.loggedBar .roundPicture {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}


.loggedBar nav .navFlexContainer .flexList .logoItem {
  filter: opacity(70%);
}

.loggedBar nav .navFlexContainer .flexList {
  display: flex;
  align-items: center;
}

.loggedBar nav .navFlexContainer .flexList.center{
  justify-content: center;
}

.loggedBar nav .navFlexContainer .flexList.spaceAround{
  justify-content: space-around;
}

.loggedBar nav .navFlexContainer .flexList li{
  display: inline-flex;
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink.parentColor,
.loggedBar nav .navFlexContainer .flexList li .flexIconLink.schoolColor,
.loggedBar nav .navFlexContainer .flexList li .flexIconLink.teacherColor{
  color: lightgrey;
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink.neutralColor{
  color: darkgrey;
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink.neutralColor:hover {
  color: #1F1F1F
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink.parentColor:hover,
.loggedBar nav .navFlexContainer .flexList li .flexIconLink.schoolColor:hover,
.loggedBar nav .navFlexContainer .flexList li .flexIconLink.teacherColor:hover{
  color: white;
}

.loggedBar nav .navFlexContainer .flexList li.optionIcon:hover,
.loggedBar nav .navFlexContainer .flexList li.userPicture:hover,
.loggedBar nav .navFlexContainer .flexList li.userPicture ul li:hover{
  background-color: rgba(20, 20, 20, 0.3);
}


/*  -------------------------  IMPLEMENTAR ------------------------- */

.loggedBar nav .navFlexContainer .flexList li.optionIcon.active,
.loggedBar nav .navFlexContainer .flexList li.userPicture.active,
.loggedBar nav .navFlexContainer .flexList li.userPicture ul li.active{
  background-color: rgba(20, 20, 20, 0.15);
}
/*  -------------------------  IMPLEMENTAR ------------------------- */

.loggedBar nav .navFlexContainer .flexList li .flexIconLink:hover img{
  filter: brightness(130%);
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink img {
  filter: brightness(80%);
}

.loggedBar nav .navFlexContainer .flexList li.userPicture img.userPicture{
  filter: brightness(100%);
}

.loggedBar nav .navFlexContainer .flexList li .flexIconLink{
  text-align: center;
  cursor: pointer;
  cursor: hand;
  white-space: nowrap;
}

.loggedBar nav .navFlexContainer .flexList li.userPicture img.userPicture {
  margin-top: 8px;
  height: 40px;
  background-color: white;
}

.loggedBar nav .navFlexContainer .flexList li a{
  font-weight: 400;
}

.loggedBar nav .navFlexContainer .flexList li.userPicture a{
  font-size: 12px;

  padding-right: 15px;
  padding-left: 15px;

}

.loggedBar nav .navFlexContainer .flexList li.userPicture,
.loggedBar nav .navFlexContainer .flexList li.optionIcon{
  height: 100%;
}

@media (min-width: 800px) {
  .loggedBar nav .navFlexContainer .flexList li.logoItem img {
    margin-top: 5px;
    height: 35px;
  }
}

@media (max-width: 800px) {

  .loggedBar nav .navFlexContainer .flexList .logoItem {
    display: none;
  }
}

@media (min-width: 620px){

  .loggedBar nav .navFlexContainer .flexList li.optionIcon {
    padding-top: 10px;
  }

  .loggedBar nav .navFlexContainer .flexList li.optionIcon .flexIconLink{
    font-size: 12px;

    padding-right: 15px;
    padding-left: 15px;
  }

  .loggedBar nav .navFlexContainer .flexList li.optionIcon a.flexIconLink img{
    height: 35px;
  }

}

@media (max-width: 620px){

  .loggedBar nav .navFlexContainer .flexList li.optionIcon {
    padding-top: 15px;
  }

  .loggedBar nav .navFlexContainer .flexList li.optionIcon a.flexIconLink{
    font-size: 10px;

    padding-right: 10px;
    padding-left: 10px;
  }

  .loggedBar nav .navFlexContainer .flexList li.optionIcon a.flexIconLink img{
    height: 28px;
  }

}

@media (min-width: 800px) and (max-width: 1280px) {   /*  <----------ENTRE 550 Y 1280 -------------------------------> */


}

@media (min-width: 1280px) {

  .loggedBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    clear: both;
    box-shadow: 6px 0px 5px #888888;
  }

  .loggedBar nav{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1280px){

  .loggedBar nav .logo.logoHome {
    display: none;
  }

  .loggedBar nav .list.homePage {
    width: 100%;
    background-color: #24ABA6;
  }
}

@media (min-width: 1280px) {

  .loggedBar nav .logo.logoHome {
    float: left;
    height: 40px;
    width: auto;
    margin: 10px 0px 10px 0px;
  }
}
