
body {
    background-color: #4140a0;
}

.profileContainerMain {
  color: white;
  margin: auto;

  padding-top: 20px;
  margin-top: 70px;

  background-color: rgba(0, 0, 0, 0.03);
}

.profileTitles h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
}

.profileTitles h3.main {
  background-color: rgba(0, 0, 0, 0.03);
}

.profileTitles h3.secondary {
  background-color: rgba(0, 0, 0, 0.03);
}

.profileContainerMain .profileSection {
  overflow: hidden;
}

.profileContainerMain .profileTitles,
.profileContainerMain .profileInputs {
  display: block;
  float: left;
}

.profileContainerMain .profileTitles{
  width: 30%;
  margin: auto;
}

.profileContainerMain .profileTitles h3 {
  padding: 3px 8px 3px 3px;
}

.profileContainerMain .profileInputs {
  color: white;
  width: 70%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

.profileContainerMain .profileInputs .profilePicImgContainer{
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: ghostwhite;
  border-radius: 50%;
}
.profileContainerMain .profileInputs .fakeSelectFile{
  font-weight: bold;
  color: white;
  text-align: center;
  display: inline-text;
  margin-top: 10px;
  cursor: pointer;
  cursor: hand;
}

.profileContainerMain .profileInputs .profilePicImgContainer img {
  border-radius: 100%;
  width: 100px;
  height: 100px;

}

.profileContainerMain .profileInputs .profilePicInput{
  display: none;
}

.profileContainerMain .profileInputs .profilePicImgContainer img:hover {
  cursor: pointer;
  cursor: hand;
  filter: brightness(90%);
}


.profileContainerMain .profileInputs .inputContainer {
  overflow: hidden;
}

.profileContainerMain .profileInputs .inputContainer.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.profileContainerMain .profileInputs input.checkbox{
  margin-top: 13px;
  width: 10%;
}

.profileContainerMain .profileInputs .inputContainer.newPassword  {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profileContainerMain .profileInputs label,
.profileContainerMain .profileInputs input {
  padding-bottom: 10px;
  padding-top: 10px;
}

.profileContainerMain .profileInputs label{
  float: left;
  display: block;
  width: 160px;
  text-align: left;
  white-space: nowrap;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.profileContainerMain .profileInputs label.checkbox{
  margin-left: 10px;
}

.profileContainerMain .profileInputs input {
  width: calc(100% - 180px);
  float: left;
  color: #dddddd;
  box-sizing: border-box;
  border: 1px solid  rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.05);

  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 10px;

  margin-top: 8px;
  margin-bottom: 8px;
}

.profileContainerMain .profileInputs input:hover {
  color: black
}

.profileContainerMain .profileInputs input:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.profileContainerMain .profileInputs input:focus{
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

.profileContainerMain .update {
  padding: 30px;
  overflow: hidden;
}

.profileContainerMain .update button{
  display: block;
  margin: auto;
  padding: 10px 20px;
  min-width: 10%;
  max-width: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;

  text-align: center;
  font-weight: bold;

  letter-spacing: 0.5px;

  color: white;
  background-color: #4CAF50;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: bold;

  border: none;
  border-radius: 3px;
  box-shadow: 0px 2px #3F9643;
  outline:none;
  cursor: pointer;

  float: right;
}

.profileContainerMain .update button:hover {
  font-weight: bolder;
  font-size: 14.2px;
  background-color: #3F9643;
  box-shadow: none;
}

.profileContainerMain .inputError {
  color: #bb6767;
  font-size: 14px;
  text-align: right;
  font-weight: 400;
  margin-right: 10%;
}



@media (max-width: 1280px){ /*  <----------------------------------- HASTA DE 1280 -------------------------------> */

  .profileContainerMain .profileInputs label{
    width: 130px;
    padding-right: 30px;
  }

}

@media (max-width: 550px) {  /*  <----------HASTA 550  -------------------------------> */


  .profileContainerMain .profileTitles {
    width: 100%;
  }
  .profileContainerMain .profileInputs {
    width: 100%;
  }
  .profileContainerMain .profileTitles h3 {
    text-align: center;
  }
  .profileContainerMain .profileInputs .profilePicImgContainer  {
    margin: auto;
  }
  .profileContainerMain .profileSection .profileInputs .profilePicInput {
    width: 155px;
    margin-left: 35%;
  }

}

@media (max-width: 350px){

  .profileContainerMain .profileInputs input {
    width: 100%;
  }
  .profileContainerMain .profileSection .profileInputs .profilePicInput {
    margin-left: 25%;
  }

}

@media (min-width: 550px) and (max-width: 1280px) {   /*  <----------ENTRE 550 Y 1280 -------------------------------> */

}

@media (min-width: 550px) { /*  <----------------------------------- MAS DE 1280 -------------------------------> */

  .profileContainerMain {
    color: white;
    width: 550px;
  }

}
