
.parentFeedContainer {
  margin: auto;
}

.feedOptionsContainer {
  position: fixed;
  padding-top: 10px;
  top: 70px;
  background-color: rgba(255, 255, 255, 0.9);

  transform: translateX(50%);
  right: 50%;
}

.feedPostsContainer{
  margin-top: calc(70px + 57px + 10px);
}

.feedPostsContainer .feedPost{

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 30px;
  border: 1px solid lightgrey;
}

.feedPostsContainer .feedPost hr {
  border: 0;
  height: 1px;
  background: lightgrey;
}

.feedPostsContainer .feedPost .postOriginContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedPostsContainer .feedPost .postOriginContainer .postOrigin {
  display:flex;
  justify-content:
  flex-start;
  align-items: center;
}

.feedPostsContainer .feedPost .postOriginContainer .postOrigin div div.dateContainer {
  padding: 4px 4px 2px 4px;
}

.feedPostsContainer .feedPost .posttypeContainer {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.feedPostsContainer .feedPost .postOriginContainer .postOrigin span.name {
  color: #555555;
  padding: 3px;
  font-weight: bold;
}

.feedPostsContainer .feedPost .postOriginContainer .postOrigin span.date {
  font-size: 12px;
  color: darkgrey;
}

.feedPostsContainer .feedPost span.triangle {
  font-size: 10px;
  color: darkgrey;
}

.feedPostsContainer .feedPost .posttypeContainer span {
  padding-left: 10px;
  padding-right: 10px;
  color: darkgrey;
  font-size: 12px;
  font-weight: bold;
}

.feedPostsContainer .feedPost .contentText {
  color: #333;
}

.feedPostsContainer .feedPost .avatar,
.feedPostsContainer .feedPost .posttype {
  height: 35px;
}

@media (max-width: 960px) {
  .parentFeedContainer {
    width: 100%;
    margin: auto;
  }
  .feedOptionsContainer {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .parentFeedContainer {
    width: 960px;

  }
  .feedOptionsContainer {
    width: 960px;
  }
}

.feedOptions {
  width: 100%;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 5px;
  padding-bottom: 5px;

  overflow: hidden;
  display: flex;
  justify-content: space-between;

}

@media (min-width: 400px) {
  .feedOptions .activityOptions {
    padding: 8px;
  }
}

.feedOptions .kidOptions .kidFilterContainer{
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.feedOptions .kidOptions .kidFilterContainer img{
  height: 35px;
  width: 35px;
  border: 1px solid lightgrey;
}

@media (min-width: 400px) {
  .feedOptions .kidOptions .kidFilterContainer img{
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 400px) {
  .feedOptions .kidOptions .kidFilterContainer img{
    height: 20px;
    width: 20px;
  }
}

.feedOptions .kidOptions .kidFilterContainer h3 {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #333333;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 400px) {
  .feedOptions .kidOptions .kidFilterContainer h3 {
    line-height: 35px;
  }
}

@media (max-width: 400px) {
  .feedOptions .kidOptions .kidFilterContainer h3 {
    line-height: 20px;
  }
}


/* MAKE ACTIVE CLASS */

.feedOptions .kidOptions .kidFilterContainer:hover h3{
  color: darkgrey;
}

.feedOptions .kidOptions .kidFilterContainer:hover img{
  filter: brightness(130%);
  border: 1px solid #666666;
}

.feedOptions .activityOptions select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 12px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url('/images/icons/triangle.png');
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 12px;
}

@media (min-width: 400px) {
  .feedOptions .activityOptions select {
    min-width: 130px;
    max-width: 250px;
  }
}

@media (max-width: 400px) {
  .feedOptions .activityOptions select {
    min-width: 80px;
    max-width: 150px;
  }
}

.parentFeedContainer {
  min-height: calc(100vh - 180px) /* 180 = NavBar + FeedBar */
}
