.containerRols {
  width: 1024px;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.containerRols .title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #1F1F1F;

  font-size: 32px;

  padding-top: 12vh;
  padding-bottom: 60px;

}

.flexContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.containerRols .flexContainer h1 {
  padding-top: 20px;
  padding-bottom: 20px;

  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: bold;

  color: darkgrey;
}


.containerRols .flexContainer .rol:hover h1 {
  color: black;
}


@media (max-width: 1280px){ /*  <----------------------------------- MAS DE 1280 -------------------------------> */


}

@media (min-width: 550px) and (max-width: 1280px) {   /*  <----------ENTRE 550 Y 1280 -------------------------------> */

}

@media (min-width: 1280px) { /*  <----------------------------------- MAS DE 1280 -------------------------------> */

  .containerRols {
    margin-top: 80px;

  }

  .containerRols .rol {
    display: inline-block;
  }

  .containerRols img {
    width: 200px;
  }

}
