html {
    font-family: 'Source Sans Pro', sans-serif;

}

/*  <----------------------------------- (TERMS) MAIN CONTAINER GENERAL -------------------------------> */

.termsContainerMain {
  color: #3f3f3f;
  margin-left: auto;
  margin-right: auto;
}

.termsContainerMain h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2%;
}

.termsContainerMain .containerTerms h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

/*  <----------------------------------- (TERMS) MAIN CONTAINER GENERAL -------------------------------> */


@media screen and (max-width: 300px) {

/*  <----------------------------------- (TERMS) MAIN CONTAINER HASTA 300 -------------------------------> */

  .termsContainerMain {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .termsContainerMain .containerTerms {
    margin-top: 4%;
  }

  .termsContainerMain h2 {
    font-size: 16px;
    }

  .termsContainerMain h3{
    font-size: 14px;
  }

/*  <----------------------------------- (TERMS) MAIN CONTAINER HASTA 300 -------------------------------> */

}

@media screen and (min-width: 300px) {

/*  <----------------------------------- (TERMS) MAIN CONTAINER DESDE 300 -------------------------------> */

  .termsContainerMain {
      font-size: 18px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
  }

  .termsContainerMain h2,.termsContainerMain h3{
    font-size: 16px;
  }

}

/*  <----------------------------------- (TERMS) MAIN CONTAINER DESDE 300 -------------------------------> */
@media (max-width: 1280px) {

  .termsContainerMain{
    margin-left: 20px;
    margin-right: 10px;
  }

}
@media (min-width: 1280px) {

/*  <----------------------------------- (TERMS) MAIN CONTAINER DESDE 1280 -------------------------------> */

  .termsContainerMain {
    margin-top: 120px;
    max-width: 1080px;
    margin-bottom: 60px;
  }

/*  <----------------------------------- (TERMS) MAIN CONTAINER DESDE 1280 -------------------------------> */

}
